/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-abr-2021, 11:15:48
    Author     : yeray
*/

body{
    text-align: center;
}

header {
    position: fixed; 
    width: 100%; 
    z-index: 100;
}

.pie_pagina {
    float: left;
    clear: left;
    width: 100%;
    background-color: #d0d0d0;
}

.pie_pagina_texto {
    margin: 1% 5%;
}

.contenido {
    padding: 1%;
    text-align: center;
}

.carta {
    float: left;
    padding: 0.5% 2%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    overflow: visible;
    padding: 1% 3%;
    text-align: center;
}

.filtro{
    float:none;
    clear:left;
    padding-top: 3%;
    padding-left: 2%;
}

.carrusel{
    width: 60%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    width: 100%;
    height: 450px;
}

.image-info{
    margin-left: 5%;
    width: 60%;
    height: 500px;
    float: left;
    background-color: red;
}

.comprarTicket{
    margin-right: 5%;
    margin-left: 3%;
    width: 27%;
    height: 500px;
    border: 2px solid #d0d0d0;
    float: left;
}

.infoEvento {
    text-align: left;
    font-size: 16pt;
    margin-left: 10%;
    margin-top: 5%; 
}

.descripcion_evento {
    float:left;
    font-size: 16pt;
    margin: 3% 5%;
    width: 90%;   
}

.eventos {
    margin-top: 20px;
}

.eventosProximos {
    padding-top: 20px;
}

.eventosFinalizados {
    clear: left;
    padding-top: 50px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.gridazo {
    justify-content: center;
}

.table {
    width: 90%;
}

/* Extra Things 
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
*/